{% extends "base.html" %}

{% block title %}{{ curriculum }}{% endblock %}

{% block content %}

<a href="{% url 'curriculum:index' %}">&larr; All Curriculum</a>

<h1>{{ curriculum }} {{ curriculum.version_set.first }}</h1>

<h2>Schedule</h2>

<ul class="calendar">
{% for week in curriculum.version_set.first.week_set.all %}
  {% for day in week.day_set.all %}
    <li>
      {{ week.number }}.{{ day.number }}
      <ul>
        {% for lesson in day.lessons.all %}
          {% for reading in lesson.readings.all %}
            <li><a href="{% url 'curriculum:reading_detail' reading.id %}">{{ reading }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
{% endfor %}
</ul>

{% endblock %}
