{% extends "base.html" %}

{% block title %}{{ instance }}{% endblock %}

{% block content %}

<h1>{{ instance }}</h1>

<ul class="calendar">
{% for day in instance.schedule %}
  <li>
    {{ day.date }}
    {% if day.events %}
      <ul>
        {% for event in day.events %}
          <li>
            <a href="{% url 'classroom:event' event.id %}">{{ event }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>

{% if perms.curriculum.can_view %}
  <h2>Curriculum Readings</h2>
  {% for reading in instance.curriculum.readings %}
    <li><a href="{% url 'curriculum:reading_detail' reading.id %}">{{ reading }}</a></li>
  {% endfor %}
{% endif %}

{% endblock %}
