{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Local Library{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'classroom/style.css' %}">
</head>

<body>
  <header>
    <nav>
      <a href="{% url 'classroom:index' %}">Classroom</a>
      {% if perms.curriculum.can_view %}<a href="{% url 'curriculum:index' %}">Curriculum</a>{% endif %}
    </nav>
    <div>
      {% if user.is_authenticated %}
        Hi, {{ user }}!
        (<a href="{% url 'logout' %}">Log out</a>)
      {% else %}
        <a href="{% url 'login' %}">Log in</a>
      {% endif %}
    </div>
  </header>
  {% block sidebar %}{% endblock %}
  <main>
    {% block content %}{% endblock %}
  </main>
  <script>
    // Lighting modes
    // var now = new Date();
    // var hour = now.getHours();
    // if ( hour >= 20 || hour < 7 ) {
    //   document.getElementsByTagName('body')[0].dataset.mode = 'dark';
    // } else {
    //   document.getElementsByTagName('body')[0].dataset.mode = 'light';
    // }
  </script>
</body>
</html>
